body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    background: #f5f7fb;
    overflow-x: hidden;
}
.container {
    background-color: #eeecec;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin: 40px auto;
}
h1 {
    color: #007bff;
    margin-bottom: 5px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
button:hover {
    background-color: #218838;
}
.preview-area {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
}
.results-area {
    margin-top: 20px;
    text-align: left;
    padding: 15px;
    border: 1px dashed #007bff;
    border-radius: 5px;
}
.score-card p {
    margin: 5px 0;
}
.error {
    color: red;
    font-weight: bold;
}
#loading {
    margin-top: 10px;
    color: #007bff;
    font-weight: bold;
}
/* ===== NAVBAR (TOP) ===== */
.navbar {
   width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0 40px;
    background: linear-gradient(135deg, #020617, #020617);
    color: white;
}

/* Brand */
.nav-brand {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 28px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* ===== HOME PAGE FULL WIDTH ===== */
.home-page {
    width: 100%;
    max-width: 1200px;     /* wide but readable */
    margin: 40px auto;
    padding: 40px;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    text-align: left;
}
